
.todoapp{
	max-width: 1000px;
	margin:0 auto;
	.main{
		.todo-list{
			padding:0;
			list-style: none;
			li{
				  width: 100%;
				  height: 200px;
				  box-shadow: 8px 8px 16px 0 #DDDDDD;
				  background-color: white;
				  transform: scale(1) translate(0, 0);
				  transition: .2s;
				  opacity: 1;
				  display: flex;
				  align-items: center;
				  justify-content: center;
				  font-family: Arial;
				  font-size: 18pt;
				  margin:1em 0;

			}

			li.completed{
				transform: scale(.8) translate(100px, 0);
  				opacity: .6;
  				background: grey;

			}
		}
	}
}